body {
    text-align: center;

}

#apps {
    width:100%;
    height: 800px;
    background-color: bisque;
}

#games {
    width:100%;
    height: 800px;
    background-color:darkturquoise;
}

#chatbot {
    width:100%;
    height: 800px;
    background-color:darkgray;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    width: 70px;
    background-color: crimson;
    margin: 8px auto;
}